<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>

<body>

    <h1>{% block header %}Welcome {% end %}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut consequuntur esse ad maxime molestiae ea harum dolorem, ipsam nulla debitis quos corrupti animi libero odit hic ipsum culpa! Minus, incidunt? Reprehenderit minus aspernatur obcaecati
        praesentium laboriosam, explicabo eligendi minima! Impedit quia quibusdam aliquid, officiis eligendi iure optio, nobis sint doloremque doloribus ea voluptates reiciendis, cupiditate dignissimos autem quas alias inventore possimus. Tempora corrupti
        minima illo! Tempora mollitia sunt dolores impedit debitis, doloremque in iste ipsum, excepturi vero quisquam? Repellat hic natus eaque voluptatem libero sint aspernatur porro placeat nesciunt, provident beatae voluptatibus excepturi molestiae
        itaque, modi fugit fuga praesentium?</p>
</body>

</html>